PORT=8082

MONGODB_URI= mongodb://localhost:27017/Authentication
EMAIL_USER= your_email_address
EMAIL_PASS=your_email_password
JWT_SECRET=your_jwt_secret_key

ACCESS_EXPIRES_IN=15m
REFRESH_EXPIRES_IN=7d

ADMIN_CLIENT_URL=http://localhost:5173
USER_CLIENT_URL=http://localhost:8080